.chatList{
    align-self: flex-end;
    max-width: 24rem;
    overflow-wrap: break-word;
    margin-bottom: 0.3rem;
    border-radius: 0.4rem;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 0.8rem 0.7rem 0.8rem;
    color: white;
    background-color: #313131;
}

.chatList>h3{
    font-size: 1rem;
    color: lightgreen;
}

@media screen and (max-width:426px) {
    .chatList{
        max-width: 16rem;
    }
}