.navbar{
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 4rem;
    color: white;
    border-bottom: 1px solid  #505050;
    background-color: black;
    z-index: 101;
}

.nav__hamburger{
    display: none;
}
.nav__links > button {
    text-decoration: none;
    border: none;
    outline: none;
    width: 5rem;
    height: 40px;
    border-radius: .5rem;
    color:Black;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    background: linear-gradient(to right, #59f9b7,#66feea);
    transition: all 0.05s ease-in-out;
}

.nav__links > button:hover{
    transform: scale(1.1);
}

.nav__a {
    color: rgb(96, 96, 96);
    margin-right: 2rem;
    text-decoration: none;
}

.nav__logo > img{
    object-fit: contain;
    width: 1.6rem;
    margin-right: 0.5rem;
}

.nav__logo{
    display: flex;
    align-items: center;
}

.nav__logo >h2{
    font-size: 1rem;
    font-weight: bold;
}

.nav__mobileLinks{
    display: flex;
    top: -100px;
    padding: 0.5rem 0.5rem;
    width: 100vw;
    position: absolute;
    align-items: flex-end;
    flex-direction: column;
    background-color: #0e0e0e;
    z-index: 100;
    transition: all 200ms ease-in-out;
}
@media screen and (max-width:426px) {
    .navbar{
        height: 4rem;
    }
    .nav__links{
        display: none;
    }
    .nav__hamburger{
        display: block;
    }
   
    .nav__mobileLinks>button{
        text-decoration: none;
        border: none;
        outline: none;
        width: 5rem;
        height: 2rem;
        border-radius: .5rem;
        color:Black;
        font-size: 1rem;
        font-weight: bold;
        background: linear-gradient(to right, #59f9b7,#66feea);
        cursor: pointer;
    }
    .nav__a{
        margin-bottom: 1rem;
    }

    .active{
        top:4rem;
    }
}